<form [formGroup]="formulaire" method="POST">
  <mat-form-field>
    <input [(ngModel)]="participants.name" type="text" matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input [(ngModel)]="participants.firstName" type="text" matInput placeholder="First name" formControlName="firstName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input [(ngModel)]="participants.age"  matInput placeholder="Age" formControlName="age" minlength="2" maxlength="3">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input [(ngModel)]="participants.email" type="email" matInput placeholder="E-mail" [formControl]="email" formControlName="email">
  </mat-form-field>
  <mat-error *ngIf="email.invalid">
    {{getErrorMessage()}}
  </mat-error>
  <br>
  <mat-form-field>
    <input [(ngModel)]="participants.phoneNumber" type="tel" matInput placeholder="Phone number" formControlName="phoneNumber" minlength="10">
  </mat-form-field>
  <br>
  <button id="submit" mat-raised-button [disabled]="formulaire.invalid" color="primary" (click)="onSubmit()" >Update</button>
  <button id="reset" mat-raised-button  color="primary" (click)="formulaire.reset()">Reset</button>
  <button id="cancel" mat-raised-button  color="primary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
</form>


